.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.wrapper {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}

.videoElement {
  display: block;
  width: auto;
  height: auto;
  width: 100vw;
  height: 100svh;
  object-fit: contain;
}

.canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.objectNutritionData{
  background-color: white;
  padding: 3vw 6vw;
  border-radius: 25px;
}

.overlayBlack{
  background-color: rgba(0,0,0,0.6);
}

.objectDetected {
  width: 80vw;
  color: black;
  
  background-color: white;
  padding: 3vw 6vw;
  border-radius: 25px 25px 0 0;
}

@media (max-width: 600px) {
  .objectNutritionData{
    width: 80vw;
  }
}