.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.wrapper {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}

.videoElement {
  display: block;
  width: auto;
  height: 100svh;
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.objectNutritionData {
  background-color: white;
  padding: 3vw 6vw;
  border-radius: 25px;
}

.overlayBlack {
  background-color: rgba(0, 0, 0, 0.6);
}

.objectDetected {
  width: 95vw;
  color: black;

  background-color: white;
  padding: 3vw 6vw;
  border-radius: 25px 25px 0 0;
}

.languageDiv{
  background-color: white;
  padding: 3vw 6vw;
  border-radius: 0 0 25px 25px;
  width: auto;
  margin: 0 auto;
}

.wrapperError{
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

@media (max-width: 600px) {
  .objectNutritionData {
    width: 80vw;
  }

  .objectDetectedFruit {
    padding: 20%;
  }
}
