@import "tailwindcss";

.button{
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: all .5s ease;
}

img{
    width: auto;
    height: auto;
}

.button:hover{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.loading-gif{
    width: 50px !important;
}

.cardComponent{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    border-radius: 35px;
    color: black;
}

.tutorialSection{
    width: 100svw;
    height: 100svh;

    background-color: rgba(0,0,0,0.6);
    z-index: 100;

    position: absolute;

    justify-content: center;
    align-items: center;
}

.tutorialSectionDiv{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5em;
    border-radius: 35px;
    color: black;
}

.line-tutorial-grey{
    color: grey;
    opacity: 0.5;
}

@media (max-width: 600px) {
    .tutorialSectionDiv{
        padding: 5%;
        width: 90vw;
    }
}